/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    /* justify-content: center; */

}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 5px 20px;

}

#logo img {
    /* height: 50px; */
    margin: 0px 0px;
}


/* Navigation Bar: List styling */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
/* 
#navbar {
    position: relative;
} */

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    cursor: pointer;
}

#navbar ul li a {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    /* border:2px solid red; */

    background-color: white;
    color: black;
}

/* Home section */
#home {
    /* position: relative; */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#home::before {
    content: "";
    position: absolute;
    /* background: src="bg17.jpg" no-repeat center center/cover; */
    top: 0px;
    left: 0px;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: 0.79;
}

#home p {
    color: black;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
    /* font-family: 'Baloo 2', cursive; */
}

/* Services Section */

.services-container {
    border: 2px solid black;

    margin: 40px;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid red;
    padding: 20px;
    margin: 3px 34px;
    border-radius: 32px;
    background-color: #f2f2f2;
}

#services .box img {
    height: 200px;
    display: block;
    margin: auto;
}

#services .box p {
    font-family: 'Bree Serif', serif;

}

/* Client Section */
#client-section {
    position: relative;
    height: 344px;

}

#client-section::before {
    content: "";
    position: absolute;
    background: url('bg1.jpg') center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 154px;
}

.client-item {
    padding: 34px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}

#contact-box input,
#contact-box textarea{
    border-radius: 11px;
    font-size: 1.1rem;
    width:100%;
    padding:0.5rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}


footer{
    background: black;
    color: white;
    padding: 4px 20px;
}
/* Utility Classes */
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 0px;

}

.h-secondary {
    font-size: 2.8rem;
    padding: 25px;
}

/* p{
    color: black;
} */

.btn {
    padding: 6px 20px;
    border: 2px solid red;
    background-color: brown;
    color: yellow;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    /* font-weight: bold; */
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(229, 74, 74);
    font-weight: bold;

}

.center {
    text-align: center;
}